---
layout: page
pagination:
    enabled: true
tagline:
---

<div class="article">
    <h2>Posts</h2>
    <span>Articles written, point-in-time musings.</span>
    <ul>
    {% for post in site.posts %}
        <li>
          <span class="post-list-date">
            {{ post.date | date: "%Y-%m-%d" }}
          </span>
          <span>
            - <a href="{{ site.BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
          </span>
        </li>

    {% endfor %}
    </ul>
</div>
<h2>Wiki</h2>
<span>Information and data intended to be updated</span>
<div class="wiki">
    {% assign wiki_categories = site.wiki | group_by: "category" %}
    <ul>
        {% for group in wiki_categories %}
            {% assign cat_pages = site.wiki | where: 'category', group.name %}
            <li>
                <span class="wiki-item-title">
                    {{ group.name | capitalize }}
                </span>
                <ul>
                    {% for page in cat_pages %}
                    <li>
                        <span class="wiki-item-title">
                            <a href="{{ site.BASE_PATH }}{{ page.url }}">{{ page.title }}</a>
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
<hr/>